@font-face {
  font-family: 'Lazer84';
  src: local('Lazer84'), url('../fonts/Lazer84.ttf') format('truetype');
}

@font-face {
  font-family: 'ItcFeniceRegularOblique';
  src: local('ItcFeniceRegularOblique'),
    url('../fonts/ItcFeniceRegularOblique.otf') format('opentype');
}

body {
  background-image: linear-gradient(to right top, #c43cb8, #7e7ef2, #00a7ff, #00c5f1, #6adada);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
